extends layout

block content
  .container
    h1 #{title}
    form(method='post', action='/questions/add')
      .form-group
        label Category:
        select.form-control(name='category', type='text')
            option(value='Definitions') Definitions
            option(value='Famous People') Famous People
            option(value='Acronyms') Acronyms
            option(value='Movie Headlines') Movie Headlines
            option(value='Ludicrous Laws') Ludicrous Laws
      .form-group
        label Question:
        input.form-control(name='question', type='text', required)
      .form-group
        label Answer:
        textarea.form-control(name='answer', required)
      input.btn.btn-primary(type='submit', name = 'submit', valeu='Save')
      a.btn.btn-danger(href='/manage/questions') Back

      // make sure that all fields are filled out
