extends layout

block content
  .container.content
    .center-div
      h1 #{title}
      table
        tr
          th Question
          th Answer
          th
        each question, i in questions
          tr
            td.cell #{question.question}
            td.cell #{question.answer}
            td
              a(class='edit-btn' href='/manage/questions/edit/'+question._id) Edit
      a.btn.btn-primary(href='/manage/questions/add') Add Question
