extends layout

block content
  .container
    h1= title
    include ./includes/messages.pug
    form(method='post', action='/game/newgame')
                .form-group
                    label Game Name
                    input.form-control(type='text', name='gname', placeholder='Game name', required)
                .form-group
                    label Number of Players (4-9)?
                    input.form-control(type='text', name='numplayers', pattern="[4-9]", placeholder='Number of players', required)
                .form-group
                    label Number of Rounds (1-9)?
                    input.form-control(type='text', name='numrounds', pattern="[1-9]", placeholder='Number of rounds', required)
                //TODO: add category checkboxes - with all feature
                button.btn.btn-primary(type='submit') Create Game