extends layout

block content
  h1= title
  form(method='post', action='')
              .form-group
                  input.form-control(type='text', name='pname', placeholder='player name', required)
              //TODO: add category checkboxes - with all feature
              button.btn.btn-primary(type='submit') Submit
