body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('images/redBlurred.jpg');
  background-size: cover;
}

a {
  color: #00B7FF;
}

.jumbotron {
  text-align: center;
  background-image: url('images/blurred-background-31.jpg') !important;
  background-size: cover;

}

.panel {
   padding-left:10px;
   padding-bottom: 10px;
   background-image: url('images/blurred-background-31.jpg') !important;
   background-size: cover;
}

#joinGame {
  text-align: left;
}

#playerName {
  text-align: left;
  padding-left: 25px;
}

.container-custom {
  width: 35%;
}

#addQuestionDropDown {
  width: 25%;
}