body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('images/redBlurred.jpg');
  background-size: cover;
}

a {
  color: #00B7FF;
}

.jumbotron {
  text-align: center;
  background-image: url('images/blurred-background-31.jpg') !important;
  background-size: cover;

}

.panel {
   padding-left:10px;
   padding-bottom: 10px;
   background-image: url('images/blurred-background-31.jpg') !important;
   background-size: cover;
}

#joinGame {
  text-align: left;
}

#playerName {
  text-align: left;
  padding-left: 25px;
}

.container-custom {
  width: 35%;
}

#addQuestionDropDown {
  width: 25%;
}




body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('images/redBlurred.jpg');
  background-size: cover;
}

a {
  color: #00B7FF;
}

.jumbotron {
  text-align: center;
  background-image: url('images/blurred-background-31.jpg') !important;
  background-size: cover;
}


/* default page content container */

.content {
  color: #fff;
  border: solid 1px #555;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px;
}

.sub-content {
  border: solid 1px #555;
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 300px;
  padding: 30px;
}

.center-div {
  width: 50%;
  margin: 0 auto;
}

.content input, .content select, .content textarea {
  max-width: 200px;
}

.content label {
  display: block;
}

.content input[type=checkbox] {
  margin-right: 10px;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

table, tr, td {
  border: solid 1px #555;
  background-color: #000;
}

.cell {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.edit-btn {
  text-align: center;
  display: block;
  color: #aaa;
  border: solid 1px #aaa;
  background: #111;
  width: 100%;
  min-width: 80px;
}

.edit-btn:hover {
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
}



#newGame {
  text-align: left;
}

#joinGame {
  text-align: left;
}

#playerName {
  text-align: left;
  padding-left: 25px;
}

.container-custom {
  width: 35%;
}

.nav-btn {
  border: solid 1px #000;
  background: #472bb8;
  background-image: -webkit-linear-gradient(top, #6065c4, #472bb8);
  background-image: -moz-linear-gradient(top, #6065c4, #472bb8);
  background-image: -ms-linear-gradient(top, #6065c4, #472bb8);
  background-image: -o-linear-gradient(top, #6065c4, #472bb8);
  background-image: linear-gradient(to bottom, #6065c4, #472bb8);
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.nav-btn:hover {
  border: solid 1px #000;
  background: #5c63e0;
  background-image: -webkit-linear-gradient(top, #5c63e0, #6d58d6);
  background-image: -moz-linear-gradient(top, #5c63e0, #6d58d6);
  background-image: -ms-linear-gradient(top, #5c63e0, #6d58d6);
  background-image: -o-linear-gradient(top, #5c63e0, #6d58d6);
  background-image: linear-gradient(to bottom, #5c63e0, #6d58d6);
  color: #ffffff;
  text-decoration: none;
}